@charset "utf-8";
/* CSS Document */
body, ul, ol, li, p, dl, dt, dd, input, form, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
ul {
	list-style: none;
}
.top{width: 100%;height: 80px;background: #2F2F2F}
.biao{font-size: 30px;color: #fff;padding-top: 20px;margin-left: 20%;}
.sou{padding-top: 30px;float: left;margin-left: 30%}
.zhu{font-size: 20px;padding-top: 30px;padding-left: 10%;float: left;}